doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/static/css/column.css")
        script(src="/static/jquery/jquery.js")
        script(src="/static/js/column.js")
        title 官网后台管理系统
    body
    h1(class="colum-title") 栏目管理
    div(class="container column")
        div(class="column-add")
            a(class="btn btn-primary" href="/admin/column/columnFrom") 添加
        div(class="column-table")
            table(class="table table-bordered table-hover")
                thead
                    tr
                        th  排序
                        th  名称
                        th  所属模块
                        th  目录名称
                        th  标识
                        th  操作
                tbody
                each val in data
                    
                    tr( data-id=val._id)
                        td  #{val.orderNo}
                        td  #{val.name}
                        td  无
                        td  #{val.Catalog}
                        td  #{val.Id}
                        td
                            a(class="btn btn-info btn-sm " href="/admin/column/update/"+val._id) 修改  
                            a(class="btn btn-danger btn-sm del"  data-id=val._id) 删除